*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #141414;
}
.cabecario{
    display: grid;
    background-color: black;
    padding-bottom: 14px;
}
.links{
    background-color: #333;
}
#titulo{
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    display: inline;
    float: left;
}
a{
    display: block;
    padding: 8px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    background-color: #1f1f1f;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1f1f1f;
  }
  
  .interacao {
    border-radius: 5px;
    padding: 20px;
  }
  input[type=reset]{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset]:hover{
    background-color: #1f1f1f;
  }